<section class="border-white border-b gradient-grid">
  <div class="mx-auto border-white border-x max-w-7xl">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Ofrecezco un servicio integral de Diseño y desarrollo, me 
        especializo en crea sitios web exepcionales para cautivar a los
        usuarios y dejar una impresion duradera
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        SITIOS WEB OPTIMIZADOS Y PERSONALIZADOS QUE COMPARTEN DE MANERA EFECTIVA HISTORIAS DE STARTUPS, CONECTAN CON AUDIENCIAS Y CREAN EXPERIENCIAS MEMORABLES. DÉJAME AYUDARTE A ALCANZAR TUS OBJETIVOS CON UNA NOTABLE PRESENCIA EN LÍNEA.
      </p>
    </div>
  </div>
</section>
