<div class="mx-auto border-white border-x max-w-7xl p-6">
  <h3  class="text-3xl font-display text-white uppercase">
    Clientes 
  </h3>
</div>

<div class="grid grid-cols-2 md:grid-cols-5 gap-4 mx-auto border-white border-x max-w-7xl p-8">
  <div class="flex justify-center items-center w-full h-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-200 bg-white">
    <a href="https://crossing-borders.netlify.app/" class="hover-image">
      <img src="https://i.postimg.cc/Lsc2CZw0/Crossing-borders-removebg-preview.png" alt="Desarrollo web indumentaria" />
    </a>
  </div>
  
  <div class="flex justify-center items-center w-full h-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-200 bg-white">
    <a href="https://www.hieloyelito.com/" class="hover-image">
      <img src="https://i.postimg.cc/K8YGRbtQ/Yelito-name-removebg-preview.png" alt="Desarrollo de software" />
    </a>
  </div>
  
</div>
